<nav class="navbar navbar-default">
    <div class="container  navbar-box">
        <div class="brand-container">
            <a class="navbar-brand header-title" href="/">L.Canizzo</a>
        </div>
        <div class="nav-pages">
            <div class="row nav-pages-row">
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/work">Work</a>
                </div>
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/contact">Contact</a>
                </div>
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/bio">Bio</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container work-container">
    {{#each project}}
    <div class="work-box">
        <div class="card container">
            <div class="card-body row justify-content-between">
                <div class="col-sm-auto" style="padding : 0">
                    <div class="app-icon">
                        <p class="icon-text">{{initials}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        {{#each technologies}}
                        <li class="list-group-item languages">{{this}}</li>
                        {{/each}}                     
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="card-body row">
                <h4 class="card-title">{{name}}</h4>                                
                <p class="card-text">{{description}}</p>
            </div>
            <div class="card-body row justify-content-around">                                
                <a href={{appLink}} target="_blank">App</a>
                <a href={{repoLink}} target="_blank">Repo</a> 
            </div>
        </div>
    </div>  
    {{/each}}
</div>
